In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

iris_data = load_iris()
dt_clf = DecisionTreeClassifier()

train_data = iris_data.data
train_label = iris_data.target

# 학습 수행
dt_clf.fit(train_data,train_label)

# 테스트
pred = dt_clf.predict(train_data)
print('예측 정확도 : ', accuracy_score(train_label,pred))

예측 정확도 :  1.0

In [2]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

iris_data = load_iris()
dt_clf = DecisionTreeClassifier()

# 학습/테스트 분할(split)
X_train, X_test, y_train, y_test = train_test_split(iris_data.data,iris_data.target, test_size=0.3, random_state=30)

In [3]:
y_train

array([1, 1, 1, 1, 1, 0, 1, 2, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 2, 2,
       2, 0, 2, 1, 2, 0, 0, 1, 0, 2, 2, 2, 2, 0, 1, 0, 1, 1, 1, 2, 0, 1,
       0, 1, 2, 1, 0, 0, 0, 2, 2, 0, 1, 1, 1, 0, 0, 0, 0, 2, 0, 2, 0, 0,
       2, 2, 2, 0, 2, 1, 1, 2, 1, 1, 1, 1, 2, 0, 1, 0, 1, 0, 0, 0, 2, 1,
       0, 0, 1, 2, 2, 2, 2, 0, 1, 2, 0, 2, 1, 2, 2, 0, 0])

In [4]:
# 학습 수행

dt_clf.fit(X_train, y_train)

# 예측 수해
pred = dt_clf.predict(X_test)
print('예측 정확도 : ',accuracy_score(y_test, pred))

예측 정확도 :  0.9555555555555556

In [5]:
# 판다스에서 분할 가능
import pandas as pd

iris_df = pd.DataFrame(iris_data.data,columns=iris_data.feature_names)

In [23]:
iris_df['label']=iris_data.target
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,label
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,0
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,2
146,6.3,2.5,5.0,1.9,2,2
147,6.5,3.0,5.2,2.0,2,2
148,6.2,3.4,5.4,2.3,2,2
149,5.9,3.0,5.1,1.8,2,2

In [24]:
# 피처 데이터프레임 반환(마지막 열 전까지, 마지막 열제외)
feature_df = iris_df.iloc[:,:-1]

In [25]:
# 타겟 데이터프레임 반환(
target_df = iris_df.iloc[:,-1]

In [26]:
# 학습 테스트 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(feature_df,target_df, test_size=0.3, random_state=4)

In [27]:
type(X_train)

pandas.core.frame.DataFrame

In [28]:
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_train,y_train)
pred = dt_clf.predict(X_test)
print('예측정확도 : {0:.3f}'.format(accuracy_score(y_test,pred)))

예측정확도 : 1.000

In [29]:
# k폴드 교차 검증
# (1)kfold = KFold(n_splits = 5)
# (2)split() 메소드: 폴드 데이터 세트로 분리
# (3) 최종 평균 정확도 계산

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

In [31]:
iris = load_iris()
features = iris.data
label = iris.target

features.shape

(150, 4)

In [15]:
# DecDecisionTreeClassifier 객체 생성
dt_clf = DecisionTreeClassifier(random_state=156)

In [16]:
# 5개의 폴드 세트로 분리하는 KFold 객체 생성
kfold = KFold(n_splits = 5)

In [17]:
# 폴드 세트별 정확도를 담을 리스트 객체 생성
cv_accuaracy = []

In [18]:
# 폴드 별 학습용, 검증용 데이터 세트의 행 인덱스 확인
for train_index, test_index in kfold.split(features):
    print(train_index,test_index)

[ 30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149] [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  60  61  62  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149] [30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149] [60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
 84 85 86 87 88 89]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149] [ 90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119] [120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]

In [20]:
import numpy as np

for train_index, test_index in kfold.split(features):
    X_train = features[train_index]
    X_test =  features[test_index]
    y_train = label[train_index]
    y_test = label[test_index]
    
    dt_clf.fit(X_train,y_train)
    pred = dt_clf.predict(X_test)
    
    acc = np.round(accuracy_score(y_test, pred),3)
    train_size = X_train.shape[0]
    test_size = X_test.shape[0]
    
    print('정확도 : {0}, 학습데이터 크기 : {1}, 검증데이터 크기 : {2}'.format(acc, train_size, train_size))
    cv_accuaracy.append(acc)
    
print('평균 검증 정확도 : ', np.mean(cv_accuaracy))

정확도 : 1.0, 학습데이터 크기 : 120, 검증데이터 크기 : 120
정확도 : 0.967, 학습데이터 크기 : 120, 검증데이터 크기 : 120
정확도 : 0.867, 학습데이터 크기 : 120, 검증데이터 크기 : 120
정확도 : 0.933, 학습데이터 크기 : 120, 검증데이터 크기 : 120
정확도 : 0.733, 학습데이터 크기 : 120, 검증데이터 크기 : 120
평균 검증 정확도 :  0.9

In [22]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [32]:
iris_df['label'].value_counts()

0    50
1    50
2    50
Name: label, dtype: int64

In [42]:
# 3개 폴드를 구성
kfold = KFold(n_splits=3)
n=0

for train_index, test_index in kfold.split(iris_df):
    n+=1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    print('[교차검증:{0}]'.format(n))
    print('   학습용 :',label_train.value_counts())
    print('   검증용 :',label_test.value_counts())

[교차검증:1]
   학습용 : 1    50
2    50
Name: label, dtype: int64
   검증용 : 0    50
Name: label, dtype: int64
[교차검증:2]
   학습용 : 0    50
2    50
Name: label, dtype: int64
   검증용 : 1    50
Name: label, dtype: int64
[교차검증:3]
   학습용 : 0    50
1    50
Name: label, dtype: int64
   검증용 : 2    50
Name: label, dtype: int64

In [43]:
# DecDecisionTreeClassifier 객체 생성
dt_clf = DecisionTreeClassifier(random_state=156)

# 5개의 폴드 세트로 분리하는 KFold 객체 생성
kfold = KFold(n_splits = 3)

# 폴드 세트별 정확도를 담을 리스트 객체 생성
cv_accuaracy = []

n=0

for train_index, test_index in kfold.split(iris_df):
    X_train = features[train_index]
    X_test =  features[test_index]
    y_train = label[train_index]
    y_test = label[test_index]
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_train,y_train)
pred = dt_clf.predict(X_test)

In [49]:
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=3)
n=0

for train_index, test_index in skf.split(iris_df, iris_df['label']):
    n += 1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    print('[교차검증 : {0}]'.format(n))
    print('학습용 레이블 분포 : \n{0}'.format(label_train.value_counts()))
    print('검증용 레이블 분포 : \n{0}'.format(label_test.value_counts()))

[교차검증 : 1]
학습용 레이블 분포 :
2    34
0    33
1    33
Name: label, dtype: int64
검증용 레이블 분포 :
0    17
1    17
2    16
Name: label, dtype: int64
[교차검증 : 2]
학습용 레이블 분포 :
1    34
0    33
2    33
Name: label, dtype: int64
검증용 레이블 분포 :
0    17
2    17
1    16
Name: label, dtype: int64
[교차검증 : 3]
학습용 레이블 분포 :
0    34
1    33
2    33
Name: label, dtype: int64
검증용 레이블 분포 :
1    17
2    17
0    16
Name: label, dtype: int64

In [54]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score , cross_validate
from sklearn.datasets import load_iris
import numpy as np

iris = load_iris()
dt_clf = DecisionTreeClassifier(random_state=156)

features = iris.data
label = iris.target

scores = cross_val_score(dt_clf, features, label, scoring='accuracy', cv=3)
print('교차 검증별 정확도 : ',scores)
print('평균 검증 정확도 : ', np.round(np.mean(scores),4))

교차 검증별 정확도 :  [0.98 0.94 0.98]
평균 검증 정확도 :  0.9667

In [67]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score

iris = load_iris()
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.2, random_state=121)

dt_clf = DecisionTreeClassifier()

parameters = {'max_depth' : [1,2,3], 'min_samples_split':[2,3]}

# 하이퍼파라미터는 딕셔너리 형태로 지정
# key값이 결정트리의 하이파라미터
# value : 하이퍼 파라미터의의 값

In [68]:
grid_tree = GridSearchCV(dt_clf, param_grid=parameters ,cv=3, refit=True,return_train_score = True)
grid_tree.fit(X_train, y_train)

scores_df = pd.DataFrame(grid_tree.cv_results_)
scores_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,mean_train_score,std_train_score
0,0.001203,0.000497,0.000644,0.000471,1,2,"{'max_depth': 1, 'min_samples_split': 2}",0.700,0.7,0.70,0.700000,1.110223e-16,5,0.7000,0.7000,0.7000,0.700000,1.110223e-16
1,0.000386,0.000029,0.000217,0.000011,1,3,"{'max_depth': 1, 'min_samples_split': 3}",0.700,0.7,0.70,0.700000,1.110223e-16,5,0.7000,0.7000,0.7000,0.700000,1.110223e-16
2,0.000381,0.000007,0.000209,0.000003,2,2,"{'max_depth': 2, 'min_samples_split': 2}",0.925,1.0,0.95,0.958333,3.118048e-02,3,0.9750,0.9375,0.9625,0.958333,1.559024e-02
3,0.000421,0.000057,0.000218,0.000007,2,3,"{'max_depth': 2, 'min_samples_split': 3}",0.925,1.0,0.95,0.958333,3.118048e-02,3,0.9750,0.9375,0.9625,0.958333,1.559024e-02
4,0.000445,0.000050,0.000258,0.000049,3,2,"{'max_depth': 3, 'min_samples_split': 2}",0.975,1.0,0.95,0.975000,2.041241e-02,1,0.9875,0.9625,0.9875,0.979167,1.178511e-02
5,0.000345,0.000008,0.000187,0.000003,3,3,"{'max_depth': 3, 'min_samples_split': 3}",0.975,1.0,0.95,0.975000,2.041241e-02,1,0.9875,0.9625,0.9875,0.979167,1.178511e-02

In [69]:
# gridsearchCV 결과 세트로 딕셔너리 형태인 cv_results_를 
# dataframe으로 변환후  일부 파라미더 확인
scores_df[['params','mean_test_score','rank_test_score']]

                                     params  mean_test_score  rank_test_score
0  {'max_depth': 1, 'min_samples_split': 2}         0.700000                5
1  {'max_depth': 1, 'min_samples_split': 3}         0.700000                5
2  {'max_depth': 2, 'min_samples_split': 2}         0.958333                3
3  {'max_depth': 2, 'min_samples_split': 3}         0.958333                3
4  {'max_depth': 3, 'min_samples_split': 2}         0.975000                1
5  {'max_depth': 3, 'min_samples_split': 3}         0.975000                1

In [70]:
# 최고 성능을 가지는 파라미터 조합 및 예측 성능 1위 값 출력
print('최적 파라미터 : ', grid_tree.best_params_)
print('최고 정확도 : ', grid_tree.best_score_)

최적 파라미터 :  {'max_depth': 3, 'min_samples_split': 2}
최고 정확도 :  0.975

In [72]:
best_dt = grid_tree.best_estimator_
pred = best_dt.predict(X_test)
accuracy_score(y_test,pred)

0.9666666666666667