In [9]:
cd ..

/Users/intaewoo

In [8]:
! pwd

/Users/intaewoo/Downloads

In [11]:
cd Desktop/project/DE Pj

/Users/intaewoo/Desktop/project/DE Pj

In [12]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas_profiling as pp
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('apart.csv')
df

,시군구,번지,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,655-2,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103,NaN
1,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,201501,29,"73,000",5,1987,언주로 3,NaN
2,서울특별시 강남구 개포동,141,개포주공 1단지,50.64,201501,5,"83,000",1,1982,개포로 310,NaN
3,서울특별시 강남구 개포동,141,개포주공 1단지,42.55,201501,7,"70,000",1,1982,개포로 310,NaN
4,서울특별시 강남구 개포동,141,개포주공 1단지,50.38,201501,7,"83,000",5,1982,개포로 310,NaN
...,...,...,...,...,...,...,...,...,...,...,...
603053,서울특별시 중랑구 중화동,450,한신1차,59.76,202106,24,"66,000",2,1997,동일로 752,NaN
603054,서울특별시 중랑구 중화동,450,한신1차,50.37,202106,25,"62,000",3,1997,동일로 752,NaN
603055,서울특별시 중랑구 중화동,450,한신1차,50.37,202106,26,"64,500",5,1997,동일로 752,NaN
603056,서울특별시 중랑구 중화동,450,한신1차,59.76,202106,26,"66,000",1,1997,동일로 752,NaN
603057,서울특별시 중랑구 중화동,450,한신1차,84.69,202106,30,"85,000",8,1997,동일로 752,NaN

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603058 entries, 0 to 603057
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   시군구       603058 non-null  object
 1   번지        602843 non-null  object
 2   단지명       603058 non-null  object
 3   전용면적(㎡)   603058 non-null  float64
 4   계약년월      603058 non-null  int64
 5   계약일       603058 non-null  int64
 6   거래금액(만원)  603058 non-null  object
 7   층         603058 non-null  int64
 8   건축년도      603058 non-null  int64
 9   도로명       603058 non-null  object
 10  해제사유발생일   3709 non-null    float64
dtypes: float64(2), int64(4), object(5)
memory usage: 50.6+ MB

In [40]:
df.describe()

In [14]:
df['아파트크기']=0
df

,시군구,번지,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,아파트크기
0,서울특별시 강남구 개포동,655-2,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103,NaN,0
1,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,201501,29,"73,000",5,1987,언주로 3,NaN,0
2,서울특별시 강남구 개포동,141,개포주공 1단지,50.64,201501,5,"83,000",1,1982,개포로 310,NaN,0
3,서울특별시 강남구 개포동,141,개포주공 1단지,42.55,201501,7,"70,000",1,1982,개포로 310,NaN,0
4,서울특별시 강남구 개포동,141,개포주공 1단지,50.38,201501,7,"83,000",5,1982,개포로 310,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
603053,서울특별시 중랑구 중화동,450,한신1차,59.76,202106,24,"66,000",2,1997,동일로 752,NaN,0
603054,서울특별시 중랑구 중화동,450,한신1차,50.37,202106,25,"62,000",3,1997,동일로 752,NaN,0
603055,서울특별시 중랑구 중화동,450,한신1차,50.37,202106,26,"64,500",5,1997,동일로 752,NaN,0
603056,서울특별시 중랑구 중화동,450,한신1차,59.76,202106,26,"66,000",1,1997,동일로 752,NaN,0
603057,서울특별시 중랑구 중화동,450,한신1차,84.69,202106,30,"85,000",8,1997,동일로 752,NaN,0

In [15]:
apt_len = len(df.index)
apt_len

603058

In [16]:
for i in range(0,603058):
    if df['전용면적(㎡)'][i] <= 60:
        df['아파트크기'][i] ='소형'
    elif df['전용면적(㎡)'][i] > 85:
        df['아파트크기'][i]='대형'
    else :
        df['아파트크기'][i] = '중형'

/opt/anaconda3/envs/multi/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/envs/multi/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/opt/anaconda3/envs/multi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/multi/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [28]:
df

,시군구,번지,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,아파트크기
0,서울특별시 강남구 개포동,655-2,개포2차현대아파트(220),77.75,14,11,"60,000",5,1988,언주로 103,NaN,중형
1,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,38,29,"73,000",5,1987,언주로 3,NaN,중형
2,서울특별시 강남구 개포동,141,개포주공 1단지,50.64,6,5,"83,000",1,1982,개포로 310,NaN,소형
3,서울특별시 강남구 개포동,141,개포주공 1단지,42.55,13,7,"70,000",1,1982,개포로 310,NaN,소형
4,서울특별시 강남구 개포동,141,개포주공 1단지,50.38,13,7,"83,000",5,1982,개포로 310,NaN,소형
...,...,...,...,...,...,...,...,...,...,...,...,...
603053,서울특별시 중랑구 중화동,450,한신1차,59.76,24,24,"66,000",2,1997,동일로 752,NaN,소형
603054,서울특별시 중랑구 중화동,450,한신1차,50.37,25,25,"62,000",3,1997,동일로 752,NaN,소형
603055,서울특별시 중랑구 중화동,450,한신1차,50.37,34,26,"64,500",5,1997,동일로 752,NaN,소형
603056,서울특별시 중랑구 중화동,450,한신1차,59.76,34,26,"66,000",1,1997,동일로 752,NaN,소형
603057,서울특별시 중랑구 중화동,450,한신1차,84.69,56,30,"85,000",8,1997,동일로 752,NaN,중형

In [1]:
df['아파트크기'].value_counts()

In [26]:
df['']

,시군구,번지,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,아파트크기
0,서울특별시 강남구 개포동,655-2,개포2차현대아파트(220),77.75,14,11,"60,000",5,1988,언주로 103,NaN,중형
1,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,38,29,"73,000",5,1987,언주로 3,NaN,중형
2,서울특별시 강남구 개포동,141,개포주공 1단지,50.64,6,5,"83,000",1,1982,개포로 310,NaN,소형
3,서울특별시 강남구 개포동,141,개포주공 1단지,42.55,13,7,"70,000",1,1982,개포로 310,NaN,소형
4,서울특별시 강남구 개포동,141,개포주공 1단지,50.38,13,7,"83,000",5,1982,개포로 310,NaN,소형
...,...,...,...,...,...,...,...,...,...,...,...,...
603053,서울특별시 중랑구 중화동,450,한신1차,59.76,24,24,"66,000",2,1997,동일로 752,NaN,소형
603054,서울특별시 중랑구 중화동,450,한신1차,50.37,25,25,"62,000",3,1997,동일로 752,NaN,소형
603055,서울특별시 중랑구 중화동,450,한신1차,50.37,34,26,"64,500",5,1997,동일로 752,NaN,소형
603056,서울특별시 중랑구 중화동,450,한신1차,59.76,34,26,"66,000",1,1997,동일로 752,NaN,소형
603057,서울특별시 중랑구 중화동,450,한신1차,84.69,56,30,"85,000",8,1997,동일로 752,NaN,중형

In [20]:
pd.to_datetime(df['계약년월'])

0        1970-01-01 00:00:00.000201501
1        1970-01-01 00:00:00.000201501
2        1970-01-01 00:00:00.000201501
3        1970-01-01 00:00:00.000201501
4        1970-01-01 00:00:00.000201501
                      ...
603053   1970-01-01 00:00:00.000202106
603054   1970-01-01 00:00:00.000202106
603055   1970-01-01 00:00:00.000202106
603056   1970-01-01 00:00:00.000202106
603057   1970-01-01 00:00:00.000202106
Name: 계약년월, Length: 603058, dtype: datetime64[ns]

In [99]:
df[df['시군구'].str.startswith(2015)].head()

AttributeError: Can only use .str accessor with string values!

In [89]:
df[df['계약년월'][:4]==2015]

/opt/anaconda3/envs/multi/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).