<a href="https://colab.research.google.com/github/InTaewoo/multicampus-education/blob/main/python/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([0,0.25,0.5,0.75,1.0])
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [5]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [6]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [9]:
s = pd.Series([0,0.25,0.5,0.75,1.0],index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [10]:
s['c']

0.5

In [11]:
s[['c','d','e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [12]:
'b' in s

True

In [14]:
s =pd.Series([0,0.25,0.5,0.75,1.0],index=[2,4,6,8,10])
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [15]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [16]:
s.unique #고유한지?

<bound method Series.unique of 2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64>

In [17]:
s.value_counts # 개수

<bound method IndexOpsMixin.value_counts of 2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64>

In [18]:
s.isin([0.25,0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [20]:
pop_tuple = {'서울특별시':9720846,
             '부산광역시':3404423,
             '인천광역시':2947217,
             '대구광역시':2427954,
             '대전광역시':1471040,
             '광주광역시':1455048}

In [22]:
populatuion = pd.Series(pop_tuple)
populatuion

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [23]:
populatuion['서울특별시']

9720846

In [24]:
populatuion['서울특별시':'인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

# DataFrame

In [56]:

pd.DataFrame([{'A':2,'B':4,'D':3},{'A':4,'B':5,'C':7}])

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [30]:
pd.DataFrame(np.random.rand(5,5),
             columns=['A','B','C','D','E'],
            index=[1,2,3,4,5])

          A         B         C         D         E
1  0.886110  0.063567  0.933034  0.035256  0.768093
2  0.807664  0.555870  0.348242  0.696240  0.455933
3  0.367157  0.299949  0.073514  0.140458  0.313105
4  0.983008  0.466596  0.275850  0.209974  0.507376
5  0.667948  0.113698  0.576457  0.349082  0.029268

In [31]:
male_tuple = {'서울특별시':4732275,
             '부산광역시':1668618,
             '인천광역시':1376813,
             '대구광역시':1198815,
             '대전광역시':734441,
             '광주광역시':720060}
male = pd.Series(male_tuple)
male

서울특별시    4732275
부산광역시    1668618
인천광역시    1376813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [32]:
female_tuple = {'서울특별시':4988557,
             '부산광역시':1735805,
             '인천광역시':1470404,
             '대구광역시':1229140,
             '대전광역시':734423,
             '광주광역시':739404}
female = pd.Series(female_tuple)
female

서울특별시    4988557
부산광역시    1735805
인천광역시    1470404
대구광역시    1229140
대전광역시     734423
광주광역시     739404
dtype: int64

In [34]:
korea_df = pd.DataFrame({'인구수':populatuion,
                         '남자인구수':male,
                         '여자인구수':female})
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988557
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1376813  1470404
대구광역시  2427954  1198815  1229140
대전광역시  1471040   734441   734423
광주광역시  1455048   720060   739404

In [35]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [36]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [37]:
korea_df['여자인구수']

서울특별시    4988557
부산광역시    1735805
인천광역시    1470404
대구광역시    1229140
대전광역시     734423
광주광역시     739404
Name: 여자인구수, dtype: int64

In [38]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988557
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1376813  1470404

In [40]:
idx = pd.Index([2,4,6,8,10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [41]:
idx[1]

4

In [42]:
idx[1:2:2]

Int64Index([4], dtype='int64')

In [43]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

In [55]:
idx1 = pd.Index([1,2,4,6,8])
idx2 = pd.Index([2,4,5,6,7])
print(idx1.append(idx2)) #추가
print(idx1.difference(idx2)) #차집합
print(idx1-idx2) # 실제값을 빼는 결과
print(idx1.intersection(idx2)) #교집합
print(idx1 & idx2)
print(idx1.union(idx2)) # 중복제거 + 정렬
print(idx1 | idx2) # =union
print(idx1.delete(0)) #delete(몇번째)
print(idx1.drop(1))
print(idx1 ^ idx2) #여집합(공통된걸뺌)

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([-1, -2, -1, 0, 1], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([1, 5, 7, 8], dtype='int64')

# 인덱싱(Indexing)

In [57]:
s = pd.Series([0,0.25,0.5,0.75,1.0],index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [58]:
s['b']

0.25

In [59]:
'b' in s

True

In [60]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [61]:
list(s.items())

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [64]:
s['f']=1.25
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [65]:
s['a':'d']

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [66]:
s[0:4]

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [67]:
s[(s > 0.4)&(s < 0.8)]

c    0.50
d    0.75
dtype: float64

In [68]:
s[['a','b','c']] # 원하는 부분

a    0.00
b    0.25
c    0.50
dtype: float64

#Series 인덱싱

In [71]:
s = pd.Series(['a','b','c','d','e'],index=[1,3,5,7,9])
s

1    a
3    b
5    c
7    d
9    e
dtype: object

In [72]:
s[1]

'a'

In [74]:
s.iloc[1] #정수값으로 변환
s.iloc[2:4]

5    c
7    d
dtype: object

In [75]:
s.reindex(range(10)) #인덱스 변환

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [76]:
s.reindex(range(10),method='bfill') #전에 값으로 채우기

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object

In [79]:
korea_df['남자인구수']

서울특별시    4732275
부산광역시    1668618
인천광역시    1376813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [80]:
korea_df.남자인구수 #.찍고 가져오기 가능

서울특별시    4732275
부산광역시    1668618
인천광역시    1376813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [81]:
korea_df.여자인구수

서울특별시    4988557
부산광역시    1735805
인천광역시    1470404
대구광역시    1229140
대전광역시     734423
광주광역시     739404
Name: 여자인구수, dtype: int64

In [82]:
korea_df['남여비율']=(korea_df['남자인구수']*100/korea_df['여자인구수'])

In [83]:
korea_df

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988557   94.862603
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1376813  1470404   93.635015
대구광역시  2427954  1198815  1229140   97.532828
대전광역시  1471040   734441   734423  100.002451
광주광역시  1455048   720060   739404   97.383839

In [84]:
korea_df.values

array([[9.72084600e+06, 4.73227500e+06, 4.98855700e+06, 9.48626026e+01],
       [3.40442300e+06, 1.66861800e+06, 1.73580500e+06, 9.61293463e+01],
       [2.94721700e+06, 1.37681300e+06, 1.47040400e+06, 9.36350146e+01],
       [2.42795400e+06, 1.19881500e+06, 1.22914000e+06, 9.75328278e+01],
       [1.47104000e+06, 7.34441000e+05, 7.34423000e+05, 1.00002451e+02],
       [1.45504800e+06, 7.20060000e+05, 7.39404000e+05, 9.73838389e+01]])

In [85]:
korea_df.T # T= 행과열 변경

              서울특별시         부산광역시  ...         대전광역시         광주광역시
인구수    9.720846e+06  3.404423e+06  ...  1.471040e+06  1.455048e+06
남자인구수  4.732275e+06  1.668618e+06  ...  7.344410e+05  7.200600e+05
여자인구수  4.988557e+06  1.735805e+06  ...  7.344230e+05  7.394040e+05
남여비율   9.486260e+01  9.612935e+01  ...  1.000025e+02  9.738384e+01

[4 rows x 6 columns]

In [86]:
korea_df['인구수']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
Name: 인구수, dtype: int64

In [89]:
korea_df.loc[:'인천광역시',:'남자인구수'] #처음부터~인천광역시

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1376813

In [90]:
korea_df.loc[(korea_df.여자인구수)>1000000]

           인구수    남자인구수    여자인구수       남여비율
서울특별시  9720846  4732275  4988557  94.862603
부산광역시  3404423  1668618  1735805  96.129346
인천광역시  2947217  1376813  1470404  93.635015
대구광역시  2427954  1198815  1229140  97.532828

In [91]:
korea_df.loc[(korea_df.인구수) < 20000000]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988557   94.862603
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1376813  1470404   93.635015
대구광역시  2427954  1198815  1229140   97.532828
대전광역시  1471040   734441   734423  100.002451
광주광역시  1455048   720060   739404   97.383839

In [92]:
korea_df.loc[(korea_df.인구수) > 2500000]

           인구수    남자인구수    여자인구수       남여비율
서울특별시  9720846  4732275  4988557  94.862603
부산광역시  3404423  1668618  1735805  96.129346
인천광역시  2947217  1376813  1470404  93.635015

In [93]:
korea_df.loc[(korea_df.남여비율) > 100]

           인구수   남자인구수   여자인구수        남여비율
대전광역시  1471040  734441  734423  100.002451

In [98]:
korea_df.loc[(korea_df.인구수 > 250000) & (korea_df.남여비율 > 100)]

           인구수   남자인구수   여자인구수        남여비율
대전광역시  1471040  734441  734423  100.002451

In [100]:
korea_df.iloc[:3 , :2]

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1376813

#다중인덱싱(Multi indexing)

In [107]:
idx_tuples = [('서울특별시', 2010),('서울특별시',2020),
              ('부산광역시', 2010),('부산광역시',2020),
              ('인천광역시', 2010),('인천광역시',2020),
              ('대구광역시', 2010),('대구광역시',2020),
              ('대전광역시', 2010),('대전광역시',2020),
              ('광주광역시', 2010),('광주광역시',2020)]
idx_tuples

[('서울특별시', 2010),
 ('서울특별시', 2020),
 ('부산광역시', 2010),
 ('부산광역시', 2020),
 ('인천광역시', 2010),
 ('인천광역시', 2020),
 ('대구광역시', 2010),
 ('대구광역시', 2020),
 ('대전광역시', 2010),
 ('대전광역시', 2020),
 ('광주광역시', 2010),
 ('광주광역시', 2020)]

In [110]:
pop_tuples = [10312545, 9720846,
              2567910, 3404423,
              2758296, 2947217,
              2511676, 2427854,
              1502664, 1471040,
              1454636, 1455048]
population = pd.Series(pop_tuples, index=idx_tuples)
population

(서울특별시, 2010)    10312545
(서울특별시, 2020)     9720846
(부산광역시, 2010)     2567910
(부산광역시, 2020)     3404423
(인천광역시, 2010)     2758296
(인천광역시, 2020)     2947217
(대구광역시, 2010)     2511676
(대구광역시, 2020)     2427854
(대전광역시, 2010)     1502664
(대전광역시, 2020)     1471040
(광주광역시, 2010)     1454636
(광주광역시, 2020)     1455048
dtype: int64

In [111]:
midx = pd.MultiIndex.from_tuples(idx_tuples)
midx

MultiIndex([('서울특별시', 2010),
            ('서울특별시', 2020),
            ('부산광역시', 2010),
            ('부산광역시', 2020),
            ('인천광역시', 2010),
            ('인천광역시', 2020),
            ('대구광역시', 2010),
            ('대구광역시', 2020),
            ('대전광역시', 2010),
            ('대전광역시', 2020),
            ('광주광역시', 2010),
            ('광주광역시', 2020)],
           )

In [112]:
population = population.reindex(midx)
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427854
대전광역시  2010     1502664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [114]:
population[:,2010]

서울특별시    10312545
부산광역시     2567910
인천광역시     2758296
대구광역시     2511676
대전광역시     1502664
광주광역시     1454636
dtype: int64

In [115]:
population['대전광역시', :]

2010    1502664
2020    1471040
dtype: int64

In [116]:
korea_mdf = population.unstack() #다중인덱스 -> 데이터프레임 형태로 다시출력
korea_mdf

           2010     2020
광주광역시   1454636  1455048
대구광역시   2511676  2427854
대전광역시   1502664  1471040
부산광역시   2567910  3404423
서울특별시  10312545  9720846
인천광역시   2758296  2947217

In [117]:
korea_mdf.stack() #데이터프레임 -> 다중인덱스형태

광주광역시  2010     1454636
       2020     1455048
대구광역시  2010     2511676
       2020     2427854
대전광역시  2010     1502664
       2020     1471040
부산광역시  2010     2567910
       2020     3404423
서울특별시  2010    10312545
       2020     9720846
인천광역시  2010     2758296
       2020     2947217
dtype: int64

In [119]:
male_tuples = [5111259, 4732275,
              1773170, 1668618,
              1390356, 1476813,
              1255345, 1198815,
              753648, 734441,
              721780, 720060
              ]
male_tuples

[5111259,
 4732275,
 1773170,
 1668618,
 1390356,
 1476813,
 1255345,
 1198815,
 753648,
 734441,
 721780,
 720060]

In [122]:
korea_mdf = pd.DataFrame({'총인구수':population,
                          '남자인구수':male_tuples})
korea_mdf

                총인구수    남자인구수
서울특별시 2010  10312545  5111259
      2020   9720846  4732275
부산광역시 2010   2567910  1773170
      2020   3404423  1668618
인천광역시 2010   2758296  1390356
      2020   2947217  1476813
대구광역시 2010   2511676  1255345
      2020   2427854  1198815
대전광역시 2010   1502664   753648
      2020   1471040   734441
광주광역시 2010   1454636   721780
      2020   1455048   720060

In [124]:
female_tuples = [5201286, 4988571,
                 1794740, 1735805,
                 1367940, 1470404,
                 1256431, 1229139,
                 750016, 736599,
                 732856, 734988]
female_tuples

[5201286,
 4988571,
 1794740,
 1735805,
 1367940,
 1470404,
 1256431,
 1229139,
 750016,
 736599,
 732856,
 734988]

In [125]:
korea_mdf = pd.DataFrame({'총인구수':population,
                          '남자인구수':male_tuples,
                          '여자인구수':female_tuples})
korea_mdf

                총인구수    남자인구수    여자인구수
서울특별시 2010  10312545  5111259  5201286
      2020   9720846  4732275  4988571
부산광역시 2010   2567910  1773170  1794740
      2020   3404423  1668618  1735805
인천광역시 2010   2758296  1390356  1367940
      2020   2947217  1476813  1470404
대구광역시 2010   2511676  1255345  1256431
      2020   2427854  1198815  1229139
대전광역시 2010   1502664   753648   750016
      2020   1471040   734441   736599
광주광역시 2010   1454636   721780   732856
      2020   1455048   720060   734988

In [127]:
ratio= korea_mdf['남자인구수']*100 / korea_mdf['여자인구수']
ratio

서울특별시  2010     98.269140
       2020     94.862336
부산광역시  2010     98.798155
       2020     96.129346
인천광역시  2010    101.638668
       2020    100.435867
대구광역시  2010     99.913565
       2020     97.532907
대전광역시  2010    100.484256
       2020     99.707032
광주광역시  2010     98.488653
       2020     97.968946
dtype: float64

In [128]:
ratio.unstack()

             2010        2020
광주광역시   98.488653   97.968946
대구광역시   99.913565   97.532907
대전광역시  100.484256   99.707032
부산광역시   98.798155   96.129346
서울특별시   98.269140   94.862336
인천광역시  101.638668  100.435867

In [129]:
korea_mdf = pd.DataFrame({'총인구수':population,
                          '남자인구수':male_tuples,
                          '여자인구수':female_tuples,
                          '남여비율':ratio})
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255345  1256431   99.913565
      2020   2427854  1198815  1229139   97.532907
대전광역시 2010   1502664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
광주광역시 2010   1454636   721780   732856   98.488653
      2020   1455048   720060   734988   97.968946